 /*
 * those CSS variables are defaults,
 * there are here for documentation porpuse
 */
:root {
    --color: #aaa;
    --background: #000;
    --size: 1.2;
    /* --glow: 1 */
    --animation: terminal-blink;
}
.command, .directory {
    cursor: pointer;
}