<h4>Gelijk solliciteren!</h4>
<form action="/job/{{job['id']}}/apply" method="post">
  <div class="mb-2">
  <label>Full Name</label><br>
  <input type="text" required name="full_name" placeholder="Je naam">
  </div>

  <div class="mb-2">
  <label>Email</label><br>
  <input type="email" required name="email" placeholder="email adres">
  </div>

  <div class="mb-2">
  <label>LinkedIn URL</label><br>
  <input type="url" name="linkedin_url" placeholder="https://linked.com/in/brucewayne">
  </div>

  <div class="mb-2">
    <label>opleiding</label><br>
    <textarea name="education"></textarea>
  </div>

  <div class="mb-2">
    <label>Werk ervaring</label><br>
    <textarea name="work_experience"></textarea>
  </div>

  <div class="mb-2">
  <label>CV link</label><br>
  <input type="url" name="resume_url">
  </div>

  <input type="submit">
</form>