<!DOCTYPE html>
<html>
  <head>
    <title>Application Submitted</title>  
    {% include 'bootstrap.html' %}
  </head>
  <body>
    {% include 'nav.html' %}
    {% include 'banner.html' %}

    <div class="container">
      <h1 class="text-center mt-2 mb-4">
        Jovian Careers
      </h1>

      <p>Je sollicitatie voor de functie van: <b>{{job['title']}}</b> is verstuurd!</p>
      
      <b>Voor- en achternaam/b>
      <div class="mb-2">{{application['full_name']}}</div>
  
      <b>Email</b>
      <div class="mb-2">{{application['email']}}</div>
  
      <b>LinkedIn URL</b>
      <div class="mb-2">{{application['linkedin_url']}}</div>
  
      <b>Opleiding</b>
      <div class="mb-2">{{application['education']}}</div>
  
      <b>Werkervaring</b>
      <div class="mb-2">{{application['work_experience']}}</div>
  
      <b>CV URL</b>
      <div class="mb-2">{{application['resume_url']}}</div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>