<!DOCTYPE html>
<html>

<head>
    <title>{{job.vac_title}} - Koningsoever Uitzenbureau</title>
    {% include 'bootstrap.html'%}
</head>

<body>
    {% include 'nav.html' %}
    <div class="container">
        <h1 class="text-center mt-2 mb-4">
            Koningsoever Uitzendbureau
        </h1>
        <h3 class="mb-2">{{job.vac_title}}</h3>
        <p class="lead mt-0">Locatie: {{job.locatie}}</p>
        <h4>Verantwoordelijkheden / Taken</h4>
        <ul>
            {% for line in job.taken.split("\n")%}
            <li>{{line}}</li>
            {% endfor %}
        </ul>
        <h4>Vereiste kennis en opleiding:</h4>
        <ul>
            {%for line in job.vereisten.split("\n") %}
            <li>{{line}}</li>
            {% endfor %}
        </ul>
        <h4>Salaris: </h4>
        <p>{{job.valuta}} {{job.salaris}}</p>

        {% include 'application_form.html' %}
    </div>
     <!--Footer and bootstrap JS-->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
     {%include 'footer.html' %}
</body>

</html>