
<nav class="navbar navbar-expand-lg navbar-dark bg-success shadow-sm fixed-top" >
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Koningsoever Uitzenbureau</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Voor werkgevers
            </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item href="#">Vacature plaatsen</a></li>
            <li><a class="dropdown-item href="#">Tarieven</a></li>
            <li><a class="dropdown-item href="#">Contact</a></li>
            <li><a class="dropdown-item href="#">Personeel gezocht</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Ontwikkel jezelf
          </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Loopbaan ontwikkeling</a></li>
          <li><a class="dropdown-item" href="#">Opleidingen en trainingen</a></li>
          <li><a class="dropdown-item" href="#">Test jezelf</a></li>
          <li><a class="dropdown-item" href="#">Solliciteren</a></li>
        </ul>
      </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Vacatures
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Alle vacatures</a></li>
              <li><a class="dropdown-item" href="#">Vacatures per stad</a></li>
              <li><a class="dropdown-item" href="#">Vacatures per vakgebied</a></li>
              <li><a class="dropdown-item" href="#">Vacatures per functie</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div style="height:56px"></div>